<%- layout('boilerplate.ejs') %>
<div class="row row-cols-1 row-cols-md-2 g-4">
<div class="card mb-3 col mx-auto p-2" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Push</h5>
      <p class="card-text">The <b>Push</b>  workout focuses on strengthening the muscles involved in pushing movements, primarily targeting the chest, shoulders, and triceps. Common exercises include the bench press, shoulder press, and tricep dips. This routine helps develop upper body strength, enhances muscle definition, and improves overall pushing power, making it essential for various sports and functional movements.</p>
      <a href="/getexercises?exercise1=Bench+Press&exercise2=Incline+Bench+Press&exercise3=Dumbbell+Flyes&exercise4=Dumbbell+Shoulder+Press&exercise5=Lateral+Raises&exercise6=Front+Raises&exercise7=Skull+Crusher&exercise8=Tricep+Extension&exercise9=Tricep+Dips" class="btn btn-primary">Explore</a>
    </div>
  </div>
  <div class="card mb-3 col mx-auto p-2" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Pull</h5>
      <p class="card-text">The <b>Pull</b> workout is designed to engage the muscles involved in pulling actions, primarily focusing on the back and biceps. Key exercises include pull-ups, bent-over rows, and bicep curls. This routine is crucial for building a strong, balanced upper body, improving posture, and enhancing grip strength, which can translate into better performance in daily activities and sports.</p>
      <a href="/getexercises?exercise1=Pull-Ups&exercise2=Bent-Over+Barbell+Rows&exercise3=Seated+Cable+Rows&exercise4=Dumbbell+Rows&exercise5=Face+Pulls&exercise6=Bicep+Curls&exercise7=Lat+Pulldowns&exercise8=Reverse+Flyes&exercise9=Hammer+Curls" class="btn btn-primary">Explore</a>
    </div>
  </div>
  <div class="card mb-3 col mx-auto p-2" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Legs</h5>
      <p class="card-text">The <b>Legs</b> workout targets the lower body, including the quadriceps, hamstrings, glutes, and calves. Exercises such as squats, deadlifts, and lunges are integral to this routine. Strengthening the legs not only contributes to overall muscle growth but also improves stability, mobility, and athletic performance, making it essential for activities ranging from walking to running and weightlifting.</p>
      <a href="/getexercises?exercise1=Squats&exercise2=Lunges&exercise3=Leg+Press&exercise4=Deadlifts&exercise5=Leg+Curls&exercise6=Calf+Raises&exercise7=Leg+Extensions&exercise8=Glute+Bridges&exercise9=Step-Ups
      " class="btn btn-primary">Explore</a>
    </div>
  </div>
</div>