<%- layout('boilerplate.ejs') %>
<div class="row row-cols-1 row-cols-md-2 g-4">
<div class="card mb-3 col mx-auto p-2" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Chest</h5>
      <p class="card-text">The <b>Chest</b>  workout emphasizes building strength and size in the pectoral muscles. Key exercises like the bench press, incline press, and chest flyes isolate the chest, enhancing upper body definition and strength. A strong chest is essential for various functional movements and can improve performance in sports and daily activities.</p>
      <a href="/getexercises?exercise1=Bench+Press&exercise2=Incline+Bench+Press&exercise3=Dumbbell+Flyes&exercise9=Tricep+Dips" class="btn btn-primary">Explore</a>
    </div>
  </div>
  <div class="card mb-3 col mx-auto p-2" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Back</h5>
      <p class="card-text">The <b>Back</b> workout focuses on developing the muscles of the upper and lower back, including the lats, traps, and rhomboids. Key exercises such as pull-ups, bent-over rows, and deadlifts help to strengthen the back, improving posture, grip strength, and overall upper body stability. A strong back is crucial for maintaining balance and preventing injuries during physical activities.</p>
      <a href="/getexercises?exercise1=Pull-Ups&exercise2=Bent-Over+Barbell+Rows&exercise3=Seated+Cable+Rows&exercise4=Dumbbell+Rows&exercise5=Face+Pulls&exercise6=Lat+Pulldowns&exercise7=Reverse+Flyes" class="btn btn-primary">Explore</a>
    </div>
  </div>
  <div class="card mb-3 col mx-auto p-2" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Legs</h5>
      <p class="card-text">The <b>Legs </b> workout focuses on building strength and size in the lower body, targeting the quadriceps, hamstrings, glutes, and calves. Key exercises include squats, lunges, and deadlifts. Strengthening the legs not only improves athletic performance but also enhances mobility and stability, making it essential for functional movements in daily life.</p>
      <a href="/getexercises?exercise1=Squats&exercise2=Lunges&exercise3=Leg+Press&exercise4=Deadlifts&exercise5=Leg+Curls&exercise6=Calf+Raises&exercise7=Leg+Extensions&exercise8=Glute+Bridges&exercise9=Step-Ups
      " class="btn btn-primary">Explore</a>
    </div>
  </div>
  <div class="card mb-3 col mx-auto p-2" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Shoulder</h5>
      <p class="card-text">The <b>Shoulders</b> workout targets the deltoid muscles, focusing on the front, side, and rear heads. Essential exercises include overhead presses, lateral raises, and face pulls. This routine enhances shoulder strength and mobility, contributing to better performance in both pushing and pulling movements while also improving overall upper body aesthetics.</p>
      <a href="/getexercises?exercise1=Dumbbell+Shoulder+Press&exercise2=Lateral+Raises&exercise3=Front+Raises&exercise4=Reverse+Pec+Deck+Fly&exercise5=Face+Pulls" class="btn btn-primary">Explore</a>
    </div>
  </div>
  <div class="card mb-3 col mx-auto p-2" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Arms</h5>
      <p class="card-text">This <b>Arm</b> Workout effectively combines exercises for the biceps, triceps, and forearms to promote overall arm strength and definition. Start with bicep curls and hammer curls to target the biceps, followed by tricep dips and skull crushers to build tricep strength. Incorporate tricep pushdowns and overhead tricep extensions for added tricep engagement. Finish with wrist curls and reverse wrist curls to strengthen the forearms. This balanced routine not only enhances muscle size and definition but also improves grip strength, essential for various functional movements and sports performance.</p>
      <a href="/getexercises?exercise1=Hammer+Curls&exercise2=Bicep+Curls&exercise3=Tricep+Dips&exercise4=Tricep+Extension&exercise5=Skull+Crusher&exercise6=Reverse+Wrist+Curl&exercise7=Wrist+Curl&exercise8=Reverse+Wrist+Curl" class="btn btn-primary">Explore</a>
    </div>
  </div>
  <div class="card mb-3 col mx-auto p-2" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Core</h5>
      <p class="card-text">The <b>Core </b> workout targets the muscles of the abdomen and lower back, essential for stability and posture. Key exercises such as planks, Russian twists, and bicycle crunches focus on developing a strong core, which is crucial for overall athletic performance and injury prevention. A strong core supports virtually all movements and enhances functionality in both sports and everyday activities.</p>
      <a href="/getexercises?exercise1=Crunch&exercise2=Plank&exercise3=Bicycle+Crunch&exercise4=Russian+Twist&exercise5=Leg+Raises&exercise6=Mountain+Climbers" class="btn btn-primary">Explore</a>
    </div>
  </div>
</div>