<%- layout('boilerplate.ejs') %>
<div class="card text-center mb-3" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Upper</h5>
      <p class="card-text">The <b>Upper Body Workout</b> focuses on strengthening the muscles of the chest, back, shoulders, and arms. Key exercises include bench presses to target the chest, pull-ups for the back, and shoulder presses to enhance shoulder strength. Additionally, incorporating bicep curls and tricep extensions ensures that the arms receive a balanced workout. This routine promotes upper body strength, improves posture, and enhances overall athletic performance, making it essential for various functional movements and daily activities.</p>
      <a href="/getexercises?exercise1=Bench+Press&exercise2=Incline+Bench+Press&exercise3=Dumbbell+Flyes&exercise9=Tricep+Dips" class="btn btn-primary">Explore</a>
    </div>
  </div>
  <div class="card text-center mb-3" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Lower</h5>
      <p class="card-text">The <b>Lower Body Workout</b> is designed to build strength and power in the legs and glutes. Essential exercises include squats and deadlifts, which target the quadriceps and hamstrings, respectively, while lunges engage multiple muscle groups for improved stability and coordination. Incorporating calf raises helps develop the lower leg muscles, contributing to overall leg strength and endurance. This routine not only enhances athletic performance but also supports better mobility and balance, making it crucial for everyday activities and sports.</p>
      <a href="/getexercises?exercise1=Pull-Ups&exercise2=Bent-Over+Barbell+Rows&exercise3=Seated+Cable+Rows&exercise4=Dumbbell+Rows&exercise5=Face+Pulls&exercise6=Lat+Pulldowns&exercise7=Reverse+Flyes" class="btn btn-primary">Explore</a>
    </div>
  </div>